# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Environments
venv/
.venv/
env/
.env/
.env
local/
local.py

# Personal
.fonts/
node_modules/
curl_headers.txt
curl_trace.txt
yarn.lock
test_v2.sh
test.sh
linux.sh